[Unit]
# Description could really be anything meaningful/distinct
Description=ModemWatch
# This should make sure the network is up
After=network.target

[Service]
# Script needs to be executable and first line will be '#!/usr/bin/python -u'
Type=simple

# try not to start until system time has had a chance to update
ExecStart=/home/pi/watchdoghandler/modemwatch.py -v --cmd "http://modempowercontrol.pgawhome/cm?cmnd=event%20cycleboth" --dests 8.8.8.8 www.cnn.com www.microsoft.com
# for secondary watcher set -0 100 should allow primary 2-3 shots at resetting modem before secondary tries to
WorkingDirectory=/home/pi/watchdoghandler
Restart=on-failure
# Makes sure any output gets to syslog and named sensibly
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=modemwatch

[Install]
WantedBy=multi-user.target
# Allows the use of journalctl -u softconsole.service to view relevant logs
Alias=modemwatch.service
